<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'; worker-src 'self' blob:" />
    <title>Arbeix</title>
  </head>
  <body>
    <div id="root" class="bp4-dark"></div>
  </body>
</html>
